
*{
    text-decoration: none;
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 420px;
    align-items: center;
    background-color: #000;
    z-index: 99;
}

.sidebar {
    background-color: #000;
    opacity: 85%;
    width: 430px;
    height: 100%;
    position: fixed;
    z-index: 100;
    transform: translateX(-430px);
    transition: transform 430ms ease-in-out;
}
.Xibalba{
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 150px;
}
.Tartarus {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 200px;
}
.Nifleheim {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 250px;
}

.Yomi{
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 300px;
}
.Diyou {
    color: #fff;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 350px;
}
.Hell {
    color: #fff;;
    text-decoration: none;
    display: block;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.9px;
    text-align: left;
    position: fixed;
    width: 144px;
    height: 14px;
    left: 47px;
    top: 400px;
}
.bar-top {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}
.bar-center {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%);
}
.bar-bottom {
    background-color: rgb(255, 255, 255);
    width: 12px;
    height: 1.5px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
}

.toggle-icon {
    position: absolute;
    top: 70px;
    left: 47px;
    width: 12px;
    height: 12px;
    z-index: 9999;
    cursor: pointer;
    transition: all 0.2s;
}
.toggle-sidebar {
    display: none;
    top: 89.2px;
    left: 47px;
    z-index: 95;
}
input[type="checkbox"]:checked ~.sidebar {
    transform: translateX(0);
}
input[type="checkbox"]:checked ~.toggle-icon >.bar-top {
    transform: rotate(45deg);
    opacity: 100%;
    margin-top: 1px;
}
input[type="checkbox"]:checked ~.toggle-icon >.bar-center {
    opacity: 0;
}
input[type="checkbox"]:checked ~.toggle-icon >.bar-bottom {
    transform: rotate(-45deg);
    opacity: 100%;
    margin-top: -3px;
}


.header2{
    position: fixed;
    top: 150px;
    width: 100%;
    height: 500px;
    background-color: none;
    z-index: 80;
}

#headerText {
    position: fixed;
    top: 12rem;
    left: 25%;
    background-color: none;
    border: 0;
    object-fit: contain;
    width: 229px;
    height: 58px;
    font-family: VenusSB-Medium;
    font-size: 55px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.91;
    letter-spacing: 2.75px;
    text-align: left;
    color: #fff;
    z-index: 99;
}

.v-line {
    border-left : medium solid #fff;
    height: 150px;
    top: 16rem;
    left: 39%;
    float: right;
    position: fixed;
    z-index: 99;
}

.text-box1-4 {
    position: fixed;
    top: 60px;
    left: 40%;
    background-color: none;
    border: 0;
    object-fit: contain; 
    z-index: 1000;
}
.text-style1-4 {
    width: 42px;
    height: 18px;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
}
.headerText2 {
    position: fixed;
    top: 60px;
    left: 55% ;
    background-color: none;
    border: 0;
    object-fit: contain; 
    width: 71px;
    height: 18px;
    font-family: Godfrey;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.89;
    letter-spacing: 0.9px;
    text-align: center;
    color: #fff;
    z-index: 1000;
}

.hr1-2 {
    position: fixed;
    top: 70px;
    left: 46.5%;
    width: 40px;
    height: 1.5px;
    margin: 6.3px 5px 10.3px;
    background-color: #fff;
    z-index: 1000;
}
.icon {
    position:fixed;
    top: 70px;
    right: 50px;
    width: 1rem;
    height: auto;
    z-index: 1000;
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #000;
}


.section {
    width: 100%;
    height: 800px;
    clear: both;
    background-color: #000;
}

파라다이스
.section1 {
    background-color: #000;
}
.text-box1 {
    position: absolute;
    top: 35rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style {
    color: #fff;
    text-align: left;
    font-family: Sandoll 고딕Neo1;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.xb {
    position: absolute;
    top: 50rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    width: 500px;
    height: auto;
}

.text-box2 {
    position: absolute;
    top: 63rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style2 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}


.section2 {
    background-color: #000;
}
.text-box3 {
    position: absolute;
    top: 85rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style3 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.tt {
    position: absolute;
    top: 100rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-box4 {
    position: absolute;
    top: 112rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style4 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}



.section3 {
    background-color: #000
}
.text-box5 {
    position: absolute;
    top: 132rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style5 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.nf {
    position: absolute;
    top: 147rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-box6 {
    position: absolute;
    top: 160em;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style6 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}


.section4 {
    background-color: #000;
}
.text-box7 {
    position: absolute;
    top: 182rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style7 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.yomi {
    position: absolute;
    top: 197rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-box8 {
    position: absolute;
    top: 211rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style8 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}


.section5 {
    background-color: #000;
}
.text-box9 {
    position: absolute;
    top: 233rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style9 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.diyou {
    position: absolute;
    top: 247rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-box10 {
    position: absolute;
    top: 260rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style10 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}


.section6 {
    background-color: #000;
    height: 1300px;
}
.text-box11 {
    position: absolute;
    top: 282rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style11 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: medium;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

.hell{
    position: absolute;
    top: 297.5rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-box12 {
    position: absolute;
    top: 310rem;
    left: 56%;
    transform: translate(-50%, -50%);
    padding: 5rem 1rem;
    width: 500px;
    height: auto;
}

.text-style12 {
    color: #fff;
    text-align: left;
    font-family: JJGothic;
    font-size: 15px;
    font-style: normal;
    font-weight: 100;
    line-height: 25px;
    letter-spacing: -0.946px;
    margin: 0px;
}

@media all and (max-width: 480px) {
    .section{
        width: 100%;
        height:885px;
        clear: both;
        background-color: #000;
    }
    .section1{
        width: 100%;
        height: 845px;
    }
    .section2, .section4, .section5{
        width: 100%;
        height: 800px;
    }
    .section3{
        width: 100%;
        height: 780px;
    }
    .section6{
        width: 100%;
        height: 900px;
    }
    .header{
        width: 100%;
        height: 100px;
        z-index: 99;
        background-color: #000;
        position: sticky;
    }
    .header2{
        width: 100%;
        height: 5rem;
        position: fixed;
        z-index: 90;
    }
    .sidebar{
        position: fixed;
        z-index: 95;
    }
    .toggle-sidebar{
        position: fixed;
        z-index: 95;
    }
    #headerText {
        width: 100%;
        left: 5rem;
        position: fixed;
        z-index:90;
    }
    .text-box1-4{
        position: fixed;
        left: 8rem;
    }
    .hr1-2{
        position: fixed;
        left: 11.2rem;
    }
    .headerText2{
        position: fixed;
        left: 15rem;
    }
    .icon {
        position: fixed;
        left: 23rem;
    }
    .v-line {
        left: 10vmax;
        display: none;
    }
    .text-box1, .text-box2, .text-box3, .text-box4, .text-box5, .text-box6, .text-box7, .text-box8, .text-box9, .text-box10, .text-box11, .text-box12 {
        left: 14rem;
        width: 280px;
        height: auto;
    }
    .xb, .tt, .nf, .yomi, .diyou, .hell {
        padding: 10rem;
        left: 14rem;
        width: 290px;
        height: auto;
    }
    
}
